<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Please reach out to jon@sideprojectco.com with any questions or issues.  This app is designed to help Supers as much as possible so please also reach out with any ideas you may have.  
</p>