<%= form_for(current_user.relationships.build(followed_id: @user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Add these updates to my Conditions Feed", class: "btn btn-large btn-success" %>
<% end %>