<%= form_for(current_user.relationships.build(followed_id: @user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>

 
 <div class="row-fluid"><h1><%= f.submit "Follow", class: "bigbuttonfollow" %></h1></div>
 
 
<% end %>