<%= form_for(current_user.relationships.build(followed_id: @user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
 <div class="hero-unit"> <h1><%= f.submit "Follow These Updates", class: "btn btn-large btn-warning" %></h1></div>
<% end %>