<% provide(:title, 'All users') %>
<div class="row">
<h5>Click Name to View Updates</h5>
</div>
<%= will_paginate %>
<div class="row">
<ul class="users">
  <%= render @users %>
</ul>
</div>
<%= will_paginate %>
<br>
</br>
<%= render 'shared/home_button' %>
    
 