<% provide(:title, 'All users') %>

    <div class="row-fluid">
    <div class="span12">
    
      
    
    </div>
    </div>
<div class="row-fluid">
<h1># of Supers:  <%= @users.count %></h1>
<h5>Click Name to View Updates</h5>
</div>




<%= will_paginate %>
<div class="row">
<ul class="users">
 <h1> <%= render @users %></h1>
</ul>
</div>
<%= will_paginate %>
<br>
</br>
<%#= render 'shared/home_button' %>
    
 