









<div class ="container">
<div class="row">
    <%= link_to "Update Status", root_path, 
                                class: "btn btn-large btn-primary btn-success" %>
</div>
<div class="row">
	<%= link_to "Course Conditions", root_path, 
                                class: "btn btn-large btn-primary btn-warning" %>
</div>
<div class="row">
<%= link_to "Find a Super", users_path, 
								class: "btn btn-large btn-primary btn-info" %>
</div> 
</div>





       