





<div class ="container">

<div class="row">
    <%= link_to "Update Status", root_path, 
                                class: "btn btn-large btn-primary btn-success" %>
</div>

<div class="row">
	<%= link_to "Conditions in Area", root_path, 
                                class: "btn btn-large btn-primary btn-warning" %>
</div>
<div class="row">
<h5><%= full_title(yield) %></h5>
</div>

</div>





       