@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
  
  margin-left: 5px;
}

.hero-unit {
	padding-top: 5px;
	padding-bottom: 25px;
	
}





section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: green;
  
}
h3 {
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

h5 {
  font-size: 2.8em;
  line-height: 1.7em;
  color: green;
  text-align: center;
  border-top: 10px solid #e8e8e8;
}

h6 {
  font-size: 2em;
  letter-spacing: -1px;
  
  
 
  text-align: center;
  font: black;
}

p {
  font-size: 2.4em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 15px;
  border-top: 75px solid $grayMediumLight;
  color: black;
  a {
    color: #0088cc; 
    font-size: 2em;
    &:hover {
      color: gray;
      
    }
  }
  
 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid gray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

form {
h1{
color: white;
font-size: 3em;
text-align: right;
}

padding: 20px;
padding-right: 22px;
padding-left: 22px;
  border-radius: 30px;   
  background-color: #076652;
}


input, textarea, select, .uneditable-input {
  border: 3px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  height: 150px;
  font-size: 3em;
  padding-top: 15px;
  line-height: 1.2em;
  
}


textarea.notesarea { 
  border:none;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 15px;
  
  @include box_sizing;
  height: 400px;
  font-size: 3em;
  padding-top: 15px;
  line-height: 1.2em;
  }

input.bigbutton {
	background-color: white;
	border-color: #4cae4c;
	border-radius: 30px;
	color: #076652;
    padding: 10px;
	border: none;	
	margin-bottom: -10px;
	margin-top: -10px;
	border: 3px solid #bbb;
}


input.bigbutton.h1 {
	color: white;
}

input.bigbuttonfollow {
	background-color: white;
	border-color: #4cae4c;
	border-radius: 10px;
	color: #076652;
    padding: 10px;
	border: none;	
}


input.bigbuttonfollow.h1 {
	color: white;
	font-size: 16px;
}


a.signin {

  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  height: 150px;
  font-size: 3em;
  padding-top: 15px;
  line-height: 1.2em;
  background-color: #5cb85c;
	border-color: #4cae4c;
	border-radius: 15px;
	color: white;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;

	
}

a.signup {

  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  height: 50px;
  font-size: 2em;
  padding-top: 15px;
  line-height: 1.2em;
  background-color: #5bc0de;
border-color: #46b8da;
	border-radius: 15px;
	color: white;
	padding-bottom: 35px;
	padding-right: 35px;
	padding-left: 35px;

	
}



select {
	height: 75px;
	
	

	
}



btn {
	height:100px;
}





input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0px;
  li {
    overflow: auto;
    padding: 30px 0px;
    text-align: center;
    
    
     
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 10px solid #e8e8e8;
  }
}
.content {
  display: block;
  padding-top: 5px;
}
.timestamp {
  color: gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}