<footer class="footer">
  <p><%= link_to "Your Updates", current_user %></p>
  <p><%= link_to "Help",   help_path %></p>
  <p><%#= link_to "Settings", edit_user_path(current_user) %></p>
  <%= link_to "Sign out", signout_path, method: "delete" %>
</footer>